.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-color: #ff0000;
  max-height: 500px;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   height: 100%;
  //   width: 100%;
  //   background-color: rgba(0, 0, 0, 0.2);
  // }
}

@include mediaTablet {
}

@include tabletLg {
  .hero {
    img {
      object-fit: none;
    }
  }
}

//LandScape view
@include mediaSmLandscape {
}
